<?xml version="1.0" encoding="UTF-8"?>
<suite name="WhistleMessaging" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
  	  <class name ="framework.MainMethod"></class>	  
     <!--  <class name="testscripts.LoginPage">
      <methods>
        <include name="checkLogin" />
        <include name="checkForgetPassword" />
        <include name="checkLogout" />
      </methods> 
      </class> -->
      <class name="testscripts.HomePage" >
       <methods>
       <!--  <include name="startConversation" />
       <include name="checkDropdownToggleBehavior" />
       <include name="startCompaign" />
       <include name="startSurveyUsingSurveyTemplate" />
       <include name="startSurveyWithoutTemplate" />
       <include name="openDeleteConversation" />
       <include name="blockUnblockConversation" />
       <include name="openLiveChat" />
       <include name="blockLiveConversation" />
       <include name="createDeleteChannel" />
       <include name="translateTeamMessage" />
       <include name="insertTemplate" />
       <include name="checkDirectChat" />
       <include name="checkLogSheet" />
       <include name="checkColumnsLogSheet" />
       <include name="checkAnalytics" />-->
       <include name="checkTemplates" />
      </methods>
      </class>
    </classes>
 </test>
</suite>