<?xml version="1.0" encoding="UTF-8"?>
<suite name="WhistleMessaging" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
  	  <class name ="framework.MainMethod"></class>	  
      <class name="testscripts.LoginPage"/>
      <methods>
       <include name="checkLogin" />
        <include name="checkForgetPassword" />
      </methods>
    </classes>
 </test>
</suite>