<?xml version="1.0" encoding="UTF-8"?>
<suite name="WhistleMessaging" verbose="1" >
  <parameter name="config" value="Browser.Stack.json"/>
  <parameter name="environment" value="firefox"/>
  <test name="Regression suite 1" >
    <classes>
  	  <class name ="framework.MainMethod" />
      <!--  <class name="testscripts.LoginPage" /> -->
      <class name="testscripts.HomePage" />
      <methods>
      <include name = "checkDropdownToggleBehavior"></include>
      </methods>
    </classes>
 </test>
</suite>